<div class="billContainer">
    <div class="main grid">
        <p class="itemName">illy cappucino</p>
        <div class="quantity"><p class="number">1</p></div>
        <p class="prodPrice">100</p>
        
        <p class="itemName">kafe</p>
        <div class="quantity"><p class="number">1</p></div>
        <p class="prodPrice">100</p>
        
        <p class="itemName">pizzaaaa</p>
        <div class="quantity"><p class="number">1</p></div>
        <p class="prodPrice">100</p>
    </div>
    <div class="line"></div>
    <div class="main grid">
        <p class="textTotal">totali</p>
        <p class="text"></p>
        <p class="textTotalPrice">100</p>
    </div>
    <div class="btn">
        <p class="textBtn">Dërgo Faturën</p>
    </div>
</div>
