@use '../../../variables.scss' as *;

.container {
    background-color: var(--bg-color);
}

.headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 10px;
    padding: 10px;

    .icon-menuContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .icon {
        width: $icon-size;
        height: $icon-size;
        border-radius: 50%;
        background-color: $red-color;
    }

    .mcCafee-menu {
        margin-left: 20px;
    }

    .mcCafee-menu h3 {
        font-family: $font;
        font-weight: $font-weight;
        font-size: 24px;
        color: var(--text-primary);
        margin: 0 0 10px 0;
    }

    .mcCafee-menu p {
        font-family: $font;
        font-weight: 300;
        font-size: 17px;
        margin: 0;
        color: var(--text-primary);
    }

    .switch {
        width: 30px;
        height: 30px;
        border: 5px solid rgba(51, 51, 51, 1);
        border-radius: 50%;
        background-image: linear-gradient(rgba(51, 51, 51, 1) 50%, white 50%);
        transform: rotate(-35deg);
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 60px 0;
    padding: 0;
}

.item {
    width: 195px;
    height: 195px;
    background-color: aquamarine;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        inset: 0; // makes the top, right, bottom and left property to 0
        transition: background-color 0.3s ease;
    }

    // when selected, fade in gray overlay
    &.selected::after {
        background-color: $item-overlay;
    }
}

.navigationBar {
    display: flex;
    // keeps <li> items on one line (no wrapping)
    flex-wrap: nowrap;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    background-color: $navigation-bg;
    padding: 15px;
    margin: 0;
    overflow-x: auto; //enables horizontal scroll
    //remove the scrollbar
    &::-webkit-scrollbar {
    display: none;
  }

    li {
        text-transform: uppercase;
        text-align: center;
        font-family: $font;
        font-weight: $font-weight;
        font-size: 20px;
        width: max-content;
        color: var(--text-primary);
        // keeps the text inside on one line
        white-space: nowrap;
        // makes each list item exactly as wide as its text
        width: max-content;
    }

    li.active {
        color: $red-color;
    }
}

.product-name {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $font;
    font-weight: $font-weight;
    color: var(--text-primary);
    font-size: 24px;
    margin: 5px;
    text-transform: uppercase;
}

.first-letter {
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 104px;
    transform: rotate(17.11deg);
}

.unitPriceContainer {
    font-family: $font;
    font-size: 18px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;

    .unit-price {
        color: $red-color; 
        font-weight: $font-weight;
        font-size: 21px;
    }
    #unitCurrency {
        color: $text-secondary;
        font-family: $font;
        font-weight: 300;
    }
    
}

.cart-shadow {
    position: fixed;
    right: 30px;
    bottom: 66px;
    display: inline-block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cart {
    width: 41px;
    height: 57px;
    background-color: $red-color;
    display: flex;
    align-items: center;
    justify-content: center;

    // Creating the zigzag shape in the cart icon
    clip-path: polygon(
        0% 10%, 10% 0%, 20% 10%, 30% 0%, 40% 10%, 50% 0%, 
        60% 10%, 70% 0%, 80% 10%, 90% 0%, 100% 10%, 
        100% 90%, 90% 100%, 80% 90%, 70% 100%, 60% 90%, 
        50% 100%, 40% 90%, 30% 100%, 20% 90%, 10% 100%, 0% 90%
    );

  border-radius: 6px;
  /*filter: drop-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.25));*/

  span {
    font-family: $font;
    font-weight: $font-weight;
    font-size: 22px;
    color: white;
  }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 62px;
    background-color: $footer-bg;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;

    div {
        font-family: $font;
        font-weight: 300;
        font-size: 17px;
        margin-right: 20px;
    }
}

//bill animation
.enter-animation {
    animation: slide-in 0.6s;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}