$red-color: #F44242;
$icon-size: 64px;
$font: 'Helvetica', sans-serif;

$font-weight: 700;


.headerContent {
    display: flex;
    flex-direction: row;
}

.icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-color: $red-color;
}


.item {
    width: 195px;
    height: 195px;
    background-color: aquamarine;
    position: relative;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;

}

.navigationBar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    background-color: #999999;
    padding: 5px;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
}

.navigationBar {
    li {
        text-transform: uppercase;
        text-align: center;
        font-family: $font;
        font-weight: $font-weight;
        font-size: 20px;
        width: max-content;
        color: #333333;
    }
}

.navigationBar {

    li:hover {
        color: $red-color;
        cursor: pointer;
    }

}

.unitPriceContainer {
    font-family: $font;
    font-size: 18px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;

        .unit-price {
        color: $red-color; 
        font-weight: $font-weight;
        font-size: 21px;
    }
    #unitCurrency {
        color: #666666;
        font-family: $font;
        font-weight: 300;
    }
    
}

.product-name {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $font;
    font-weight: $font-weight;
    color: #333333;
    font-size: 24px;
    margin: 5px;
    text-transform: uppercase;
}

.first-letter {
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: 'Londrina Outline', sans-serif;
    font-size: 104px;
    transform: rotate(17.11deg);

}