<div class="container">
  <header>
    <div class="headerContent">
      <div class="icon-menuContainer">
        <div class="icon"></div>
        <div class="mcCafee-menu">
          <h3>Mc Cafee</h3>
          <p>menu</p>
        </div>
      </div>
      <div class="switch"></div>
    </div>

    <div class="navigationHolder">
      <nav>
        <ul class="navigationBar">
          <li
            *ngFor="let category of categories"
            (click)="selectCategory(category)"
            [class.active]="selectedCategory?.id === category.id"> <!--Category Name-->
            {{category.name}}
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main">

    <!--Product container-->
    <div class="item" *ngFor="let product of selectedCategory?.products">
      <p class="unitPriceContainer"><span class="unit-price"><!--Unit Price-->{{ product.unitPrice }}</span><span id="unitCurrency"> lekë</span> </p>
      <div class="first-letter">{{ product.name.charAt(0) }}</div>
      <p class="product-name"><!--Product Name--> {{ product.name }}</p>

    </div>
  </div>

  <footer>

    <div class="footerMsg">
      <p>mundesuar nga</p>
    </div>

  </footer>
</div>